.logo {
  margin-top: 15px;
}

ul.messages-list {
  list-style-image: none;
  list-style-type: none;
  margin: 0px;
}

div.messages-box {
  border: 0.1rem solid #d1d1d1;
  margin: 0px 2px 15px 2px;
  border-radius: 0.4rem;
  padding: 10px;
  /* max-height: 500px; */
  /* overflow: scroll; */
}

@media (max-width: 40rem) {
  .row .column.column-10,
  .row .column.column-20,
  .row .column.column-25,
  .row .column.column-33,
  .row .column.column-40,
  .row .column.column-50,
  .row .column.column-60,
  .row .column.column-67,
  .row .column.column-75,
  .row .column.column-80,
  .row .column.column-90 {
    flex: 1 1 auto;
    max-width: 100%;
  }
}
